@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: lalezar-regular;
        src: url(/fonts/Lalezar-Regular.ttf) format("truetype");
        font-display: auto;
    }
    
    body {
        @apply select-none
    }

    html {
        @apply scroll-smooth
    }
}

@layer utilities {
    .header-animation-hide {
        transform: translate3d(0, -100%, 0);
    }

    .header-animation-show {
        transform: translate3d(0, 0, 0);
    }

    .circular-progress {
        position: relative;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circular-progress::before {
        content: "";
        position: absolute;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: #fff;
    }
}